<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alan.wave">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wave">
        <activity
            android:name=".cardActivity"
            android:exported="true" />
        <activity
            android:name=".MonthlyAnalyticsActivity"
            android:exported="true" />
        <activity
            android:name=".WeeklyAnalyticsActivity"
            android:exported="true" />
        <activity
            android:name=".DailyAnalyticsActivity"
            android:exported="true" />
        <activity
            android:name=".ChooseAnalyticActivity"
            android:exported="true" />
        <activity
            android:name=".WeekSpendingActivity"
            android:exported="true" />
        <activity
            android:name=".MoneySpentTodayActivity"
            android:exported="true" />
        <activity
            android:name=".BudgetActivity"
            android:exported="true" />
        <activity
            android:name=".GooglePaymentActivity"
            android:exported="true" />
        <activity
            android:name=".cryptoActivity"
            android:exported="true" />
        <activity
            android:name=".featuresActivity"
            android:exported="true" />
        <activity
            android:name=".settingsActivity"
            android:exported="true" />
        <activity
            android:name=".savingsActivity"
            android:exported="true" />
        <activity
            android:name=".paymentActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LogActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>